* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  display: flex;
  flex: 1 1 auto;
  height: 100vh;
  margin: 0;
}

#root {
  display: flex;
  flex: 1 1 auto;
  margin: .5em;
}

.App {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
}

.no-margin {
  margin: 0;
}
